.scrollContainer {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

/* Hide scrollbar for Chrome, Safari, Opera */
.scrollContainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
  display: none;
}
